<div class="inicio">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navBar">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0 " href="#">
                    <img class="logoInicioOneClick" src="/assets/images/logoOneClick.png" height="100" alt="MDB Logo"
                        loading="lazy" />
                </a>


                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="bannerDivInicio">
        
    </div>
    <section>
        <div class="bg-image bgBlue" style="background-image: url(/assets/images/blueBanner.jpg);">


            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card mask-custom-1 py-5 text-white">
                                <div class="card-body">
                                    <img class="rounded-circle shadow-2-strong mb-5" src="/assets/images/oscar.jpg"
                                        alt="avatar" style="width: 100px;" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="200">
                                    <h5 class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="300">
                                        Oscar Rebollar</h5>

                                    <p class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="400">
                                        "Desde que mis socios me recomendaron OneClick, la calidad de sus productos me
                                        encantó."</p>
                                    <ul class="list-unstyled mb-0" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="500">
                                        <a href="#contacto" class="px-1 text-white">
                                            Saber más...
                                        </a>
                                        {{!-- <a href="#!" class="px-1">
                                            <i class="fab fa-twitter text-white"></i>
                                        </a>
                                        <a href="#!" class="px-1">
                                            <i class="fab fa-linkedin-in text-white"></i>
                                        </a> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card mask-custom-1 py-5 text-white">
                                <div class="card-body">
                                    <img class="rounded-circle shadow-2-strong mb-5" src="/assets/images/veronica.jpg"
                                        alt="avatar" style="width: 100px;" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="200">
                                    <h5 class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="300">
                                        Veronica Saldaña</h5>

                                    <p class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="400">
                                        "Me han ayudado mucho a satisfacer a mis propios clientes. Es una opción que
                                        recomiendo en cualqueir etapa de tu empresa."</p>
                                    <ul class="list-unstyled mb-0" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="500">
                                        <a href="#contacto" class="px-1 text-white">
                                            Saber más...
                                        </a>
                                        {{!-- <a href="#!" class="px-1">
                                            <i class="fab fa-twitter text-white"></i>
                                        </a>
                                        <a href="#!" class="px-1">
                                            <i class="fab fa-linkedin-in text-white"></i>
                                        </a> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-0">
                            <div class="card mask-custom-1 py-5 text-white">
                                <div class="card-body">
                                    <img class="rounded-circle shadow-2-strong mb-5" src="/assets/images/roman.jpg"
                                        alt="avatar" style="width: 100px;" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="200">
                                    <h5 class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="300">
                                        Román García</h5>
                                    <p class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="400">
                                        "El mejor trabajo de su parte es lo que se puede esperar. Han contribuído mucho
                                        al crecimiento de mi empresa."</p>
                                    <ul class="list-unstyled mb-0" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="500">
                                        <a href="#contacto" class="px-1 text-white">
                                            Saber más...
                                        </a>
                                        {{!-- <a href="#!" class="px-1">
                                            <i class="fab fa-linkedin-in text-white"></i>
                                        </a>
                                        <a href="#!" class="px-1">
                                            <i class="fab fa-instagram text-white"></i>
                                        </a> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<div class="valueProp">
    <div class="container">
        <div class="row">
            <h3 class="text-center">Comercializamos una variedad de productos de primera calidad</h3>
        </div>
    </div>
</div>