<div class="inicio">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navBar">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0 " href="#">
                    <img class="logoInicioOneClick" src="/assets/images/logoOneClick.png" height="100" alt="MDB Logo"
                        loading="lazy" />
                </a>


                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="bannerDivInicio">

    </div>
    <div class="container contEmpresa" id="nosotros">
        <div class="row text-center">
            <h2>
                Somos una empresa comercializadora
            </h2>

            <h4>
                Hemos logrado trascender a nivel empresarial en el mercado, ofreciendo suministros y productos de alta
                calidad en beneficio de todos nuestros clientes.
            </h4>
        </div>
    </div>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">

                <div class="row gx-lg-5 mb-5 align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/marOne.png" class="imageCell " alt=""
                            aria-controls="#picker-editor"> </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h3 class="fw-bold">Nuestra Empresa</h3>
                        <div class="mb-2 text-danger small"> <i class="fas fa-users me-2"
                                aria-controls="#picker-editor"></i><span>Variedad de productos de primera calidad</span>
                        </div>
                        <h4>Misión</h4>
                        <p class="text-muted">Satisfacer las necesidades de nuestros clientes dándole la mejor calidad
                            de nuestros productos que ofrecemos.</p> <br>
                        <h4>Visión</h4>
                        <p class="text-muted">Seguir siendo una comercializadora reconocida por la dedicación y
                            confianza que otorgamos a nuestros clientes.</p>
                        <hr>
                        <div class="row">
                            <h4>Valores</h4>
                            <div class="col-md-4">
                                <div class="list-group list-group-light" id="list-tab" role="tablist">
                                    <a class="list-group-item list-group-item-action active px-3 border-0"
                                        id="list-home-list" data-mdb-toggle="list" href="#list-home" role="tab"
                                        aria-controls="list-home">Honestidad</a>
                                    <a class="list-group-item list-group-item-action px-3 border-0"
                                        id="list-profile-list" data-mdb-toggle="list" href="#list-profile" role="tab"
                                        aria-controls="list-profile">Responsabilidad</a>
                                    <a class="list-group-item list-group-item-action px-3 border-0"
                                        id="list-messages-list" data-mdb-toggle="list" href="#list-messages" role="tab"
                                        aria-controls="list-messages">Trabajo en equipo</a>
                                    <a class="list-group-item list-group-item-action px-3 border-0"
                                        id="list-settings-list" data-mdb-toggle="list" href="#list-settings" role="tab"
                                        aria-controls="list-settings">Puntualidad</a>
                                </div>
                            </div> 
                            <div class="col-md-8"> <br>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane listTextList fade show active" id="list-home" role="tabpanel"
                                        aria-labelledby="list-home-list " >
                                        En la relación que construimos con nuestros clientes. Para poder generar un
                                        vínculo de confianza y plenitud en la colaboración.
                                    </div>
                                    <div class="tab-pane listTextList fade" id="list-profile" role="tabpanel"
                                        aria-labelledby="list-profile-list " >
                                        En el manejo de nuestro trabajo, para entregar la mejor calidad.
                                    </div>
                                    <div class="tab-pane listTextList fade" id="list-messages" role="tabpanel"
                                        aria-labelledby="list-messages-list">
                                        Una filosofía interna, pero que también compartimos con nuestros colaboradores.
                                    </div>
                                    <div class="tab-pane listTextList fade" id="list-settings" role="tabpanel"
                                        aria-labelledby="list-settings-list " >
                                        En cada uno de los procesos de la colaboración con nosotros.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <a class="btn  btn-primary" href="#" role="button" aria-controls="#picker-editor"
                            onclick="location.href='#servicios';">Servicios</a>
                    </div>
                </div>

            </section>
        </section>
        <!---->
    </div>
    <section>
        <div class="bg-image bgBlue" style="background-image: url(/assets/images/blueBanner.jpg);">


            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card mask-custom-1 py-5 text-white">
                                <div class="card-body">
                                    <img class="rounded-circle shadow-2-strong mb-5" src="/assets/images/oscar.jpg"
                                        alt="avatar" style="width: 100px;" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="200">
                                    <h5 class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="300">
                                        Oscar Rebollar</h5>

                                    <p class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="400">
                                        "Desde que mis socios me recomendaron OneClick, la calidad de sus productos me
                                        encantó."</p>
                                    <ul class="list-unstyled mb-0" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="500">
                                        <a href="#contacto" class="px-1 text-white">
                                            Saber más...
                                        </a>
                                        {{!-- <a href="#!" class="px-1">
                                            <i class="fab fa-twitter text-white"></i>
                                        </a>
                                        <a href="#!" class="px-1">
                                            <i class="fab fa-linkedin-in text-white"></i>
                                        </a> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card mask-custom-1 py-5 text-white">
                                <div class="card-body">
                                    <img class="rounded-circle shadow-2-strong mb-5" src="/assets/images/veronica.jpg"
                                        alt="avatar" style="width: 100px;" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="200">
                                    <h5 class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="300">
                                        Veronica Saldaña</h5>

                                    <p class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="400">
                                        "Me han ayudado mucho a satisfacer a mis propios clientes. Es una opción que
                                        recomiendo en cualqueir etapa de tu empresa."</p>
                                    <ul class="list-unstyled mb-0" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="500">
                                        <a href="#contacto" class="px-1 text-white">
                                            Saber más...
                                        </a>
                                        {{!-- <a href="#!" class="px-1">
                                            <i class="fab fa-twitter text-white"></i>
                                        </a>
                                        <a href="#!" class="px-1">
                                            <i class="fab fa-linkedin-in text-white"></i>
                                        </a> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-0">
                            <div class="card mask-custom-1 py-5 text-white">
                                <div class="card-body">
                                    <img class="rounded-circle shadow-2-strong mb-5" src="/assets/images/roman.jpg"
                                        alt="avatar" style="width: 100px;" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="200">
                                    <h5 class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="300">
                                        Román García</h5>
                                    <p class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="400">
                                        "El mejor trabajo de su parte es lo que se puede esperar. Han contribuído mucho
                                        al crecimiento de mi empresa."</p>
                                    <ul class="list-unstyled mb-0" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="500">
                                        <a href="#contacto" class="px-1 text-white">
                                            Saber más...
                                        </a>
                                        {{!-- <a href="#!" class="px-1">
                                            <i class="fab fa-linkedin-in text-white"></i>
                                        </a>
                                        <a href="#!" class="px-1">
                                            <i class="fab fa-instagram text-white"></i>
                                        </a> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<div class="valueProp">
    <div class="container">
        <div class="row">
            <h3 class="text-center">Comercializamos una variedad de productos de primera calidad</h3>
        </div>
    </div>
</div>